body{
    margin: 0;
}

header{
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0 20px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F8F8;
}

header h2{
    margin: 0;
}

header ul{
    display: flex;
    list-style-type: none;
}

header ul li{
    padding-left: 50px;
}